footer {
  background-color: #151515;
  height: 40vh;
  display: flex;
  align-items: center;
  justify-content: space-around;

  .logo-footer {
    height: 100px;
    width: 100px;
  }

  .footer-links {
    height: 130px;
    width: 350px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;

    & a {
      letter-spacing: 2px;
      padding: 10px;
      color: white;
    }
  }

  .footer-social {
    & a,
    p {
      color: white;
    }
    .social {
      font-size: 30px;
      width: 35px;
    }
  }
}
